<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="pl.poznan.put.cs.gui4pddl.editor.PDDLEditor"
            default="false"
            extensions="pddl"
            icon="icons/pddl_file.gif"
            id="pl.poznan.put.cs.gui4pddl.PDDLEditor"
            name="PDDL Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="pl.poznan.put.cs.gui4pddl"
            name="GUI4PDDL">
      </category>
      <wizard
            category="pl.poznan.put.cs.gui4pddl"
            class="pl.poznan.put.cs.gui4pddl.ui.wizards.PDDLFileWizard"
            finalPerspective="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective"
            icon="icons/pddl_file.gif"
            id="pl.poznan.put.cs.gui4pddl.ui.wizards.PDDLFileWizard"
            name="PDDL File"
            preferredPerspectives="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="pl.poznan.put.cs.gui4pddl"
            class="pl.poznan.put.cs.gui4pddl.ui.wizards.PDDLProjectWizard"
            finalPerspective="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective"
            hasPages="true"
            icon="icons/pddl_file.gif"
            id="pl.poznan.put.cs.gui4pddl.ui.wizards.PDDLProjectWizard"
            name="PDDL Project"
            preferredPerspectives="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective"
            project="true">
      </wizard>
   </extension>
   <extension
         id="PDDLProject"
         name="PDDL Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="pl.poznan.put.cs.gui4pddl.PDDLNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/nature_image.gif"
            id="pl.poznan.put.cs.gui4pddl.projectNatureImage"
            natureId="pl.poznan.put.cs.gui4pddl.PDDLProject">
      </image>
    </extension>
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspectiveFactory"
            icon="icons/pddl_file.gif"
            id="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective"
            name="PDDL">
      </perspective>
   </extension>
</plugin>
