<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="pl.poznan.put.cs.gui4pddl.editor.PDDLEditor"
            default="false"
            extensions="pddl"
            icon="icons/pddl_file.gif"
            id="pl.poznan.put.cs.gui4pddl.PDDLEditor"
            name="PDDL Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="pl.poznan.put.cs.gui4pddl"
            name="GUI4PDDL">
      </category>
      <wizard
            category="pl.poznan.put.cs.gui4pddl"
            class="pl.poznan.put.cs.gui4pddl.ui.wizards.PDDLFileWizard"
            finalPerspective="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective"
            icon="icons/pddl_file.gif"
            id="pl.poznan.put.cs.gui4pddl.ui.wizards.PDDLFileWizard"
            name="PDDL File"
            preferredPerspectives="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="pl.poznan.put.cs.gui4pddl"
            class="pl.poznan.put.cs.gui4pddl.ui.wizards.PDDLProjectWizard"
            finalPerspective="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective"
            hasPages="true"
            icon="icons/pddl_file.gif"
            id="pl.poznan.put.cs.gui4pddl.ui.wizards.PDDLProjectWizard"
            name="PDDL Project"
            preferredPerspectives="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective"
            project="true">
      </wizard>
   </extension>
   <extension
         id="PDDLProject"
         name="PDDL Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="pl.poznan.put.cs.gui4pddl.PDDLNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/nature_image.gif"
            id="pl.poznan.put.cs.gui4pddl.projectNatureImage"
            natureId="pl.poznan.put.cs.gui4pddl.PDDLProject">
      </image>
    </extension>
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspectiveFactory"
            icon="icons/pddl_file.gif"
            id="pl.poznan.put.cs.gui4pddl.perspective.PDDLPerspective"
            name="PDDL">
      </perspective>
   </extension>
   <extension
		point="org.eclipse.ui.preferencePages">
	  <page
		name="PDDL"
		class="pl.poznan.put.cs.gui4pddl.preferences.MainPreferencePage"
		id="pl.poznan.put.cs.gui4pddl.preferences.MainPreferencePage">
	  </page>
	  <page
		name="PDDL Editor"
		category="pl.poznan.put.cs.gui4pddl.preferences.MainPreferencePage"
		class="pl.poznan.put.cs.gui4pddl.preferences.EditorPreferencePage"
		id="pl.poznan.put.cs.gui4pddl.preferences.EditorPreferencePage">
	  </page>
	</extension>
	
	
	<!-- LAUNCHER -->
   <extension
         point="org.eclipse.debug.core.launchModes">
    <launchMode
		label="Run"
		mode="run">
	</launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
   	   id="pl.poznan.put.cs.gui4pddl.runners.PDDLApplication"
	   name="PDDL Application"
	   delegate="pl.poznan.put.cs.gui4pddl.runners.PDDLApplicationLaunchConfigurationDelegate"
	   modes= "run"
	   public= "true"
	   sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
       sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
   </launchConfigurationType>     
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
			icon="icons/pddl_file.gif"
			configTypeID="pl.poznan.put.cs.gui4pddl.runners.PDDLApplication"
			id="pl.poznan.put.cs.gui4pddl.runners.launchConfigurationTypeImages.PDDLApplication">
	</launchConfigurationTypeImage>     
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
            type="pl.poznan.put.cs.gui4pddl.runners.PDDLApplication"
            class="pl.poznan.put.cs.gui4pddl.runners.ui.PDDLApplicationTabGroup"
            id="pl.poznan.put.cs.gui4pddl.runners.PDDLApplication.ui.launchConfigurationTabGroup.PDDLApplication"
            bannerImage="icons/pddl_file.gif">
            <launchMode
                  mode="run"
                  description="PDDLApplicationTabGroupDescription.run">
            </launchMode>
    </launchConfigurationTabGroup>     
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">       
    <shortcut
            label="PDDL Application"
            icon="icons/pddl_file.gif"
            modes="run"
            class="pl.poznan.put.cs.gui4pddl.runners.PDDLLaunchShortcut"
            id="pl.poznan.put.cs.gui4pddl.runners.PDDLShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.pddl"/>
                    <test property="org.eclipse.debug.ui.projectNature" value="pl.poznan.put.cs.gui4pddl.PDDLProject"/>
                 <!-- <instanceof value="org.eclipse.jdt.core.IJavaElement"/> -->
                  <!--<test property="org.python.pydev.debug.ui.python_type"/>-->
                 </or>
                <!--  <test property="org.eclipse.debug.ui.projectNature" value="pl.poznan.put.cs.gui4pddl.PDDLProject"/> -->
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
        
      </shortcut>
   </extension>
   
  
</plugin>
